html body {
  position:relative;
  height: 100vh;
  max-width: 100vw;
  color: black;
  background-color: $main_white;
  }


.header{
  height: 24px;
  background-color: $light_blue;
  text-align: center;
  color: white;
  }

.left_content {
  float:left;
  background-color: $dark_blue1;
  height: 100vh;
  width: 300px;
  color: $main_white;
  }

  .acount_info {
    height: $upper_contents_height;
    background-color: $dark_blue2;
    padding: $side_20px;
    line-height: $upper_contents_height;
    }

    .acount_info p {
      float:left;
      max-width: 180px;
      max-height: $size3;
      line-height: $standerd_font_size;
      font-size: $standerd_font_size;
      font-weight: bold;
      margin: 48px 0 0;
      color: $main_white;
      word-wrap: break-word;
      overflow: scroll;
      }

    .info {
      float:right;
      margin: $side_10px;
      }

      .info .fa{
        font-size: $standerd_font_size;
        font-weight: bold;
        text-decoration: none;
        margin: 0 5px 0 5px;
        color: $main_white;
        }

      .bottun {
        float:right;
        height: 50px;
        width: 50px;
        text-decoration: none;
        background-color: $light_blue;
        font-size: 12px;
        color: white;
        line-height: 50px;
        text-align: center;
        margin: calc(57px - 25px) 0;
        padding: $side_10px;
        }

  .group_info_box{
    padding: $side_20px;
    height: calc(100vh - 24px - 114px);
    word-wrap: break-word;
    overflow: scroll;
    }

    .group_info_box a{
      text-decoration: none;
      }

      .group_info {
        padding: $jouge_20px;
        }
  
        .group_name {
          color: $main_white;
          font-size: $size4;
          border-bottom: solid 5px transparent;
          }
  
        .group_message {
          color: $main_white;
          font-size: 11px;
          }

.right_content {
  float:right;
  width: calc(100vw - 300px);
  background-color: $grey6;
  }

  .group_title{
    background-color: $main_white;
    padding:$side_40px;
    border-bottom: solid 1px $grey1;
    height: $upper_contents_height;
    width:$right_width;
    }

    .group_title ul{
      float:left;
      margin: 35px 0 0 0;
      max-height: 32px;
      width: $right_contents_width;
      font-size: $size2;
      word-wrap: normal;
      overflow: scroll;
    }

    .group_title p{
      float:left;
      font-size: 12px;
      margin:$jouge_15px;
      color: $grey3;
      width: $right_contents_width;
      word-wrap: normal;
      overflow: scroll;
    }

    .edit_bottun{
      float:right;
      height: $size3;
      background-color: $light_blue;
      font-size: $standerd_font_size;
      color: white;
      line-height: $size3;
      text-align: center;
      margin: 32px 0;
      padding: 0px 20px;
    }

  .message_box_area{
    padding: 8px 0 $comment_box_height;
    height: calc(100vh - 223px);
    width: 100%;
    word-wrap: break-word;
    overflow: scroll;
    }

    .message_box{
      float: left;
      width: 100%;
      max-width: $right_width;
      margin: 40px 40px 0 40px;
      color: $grey2;
      }

      .speakers_box{
        float:left;
        min-width: 180px;
        max-width: $right_width;
        }

        .speaker{
          float:left;
          font-size: $standerd_font_size;
          word-wrap: break-word;
          max-width: 100%;
          font-weight: bold;
          margin: 0 10px 0 0;
          }

        .when_speaking{
          float: left;
          min-width: 140px;
          max-width: $right_width;
          line-height: 200%;
          font-size: 12px;
          color: $grey3;
          }

      .message{
        float: left;
        font-size: 14px;
        word-wrap: break-word;
        min-width: 100%;
        max-width: $right_width;
        word-wrap: normal;
        overflow: scroll;
        }

  .bottom_content{
    position: fixed;
    bottom: 0%;
    min-height: 90px;
    width:100%;
    max-width: $right_width;
    min-width: 300px;
    background-color: $grey1;
    padding:$side_40px;
    border-top: solid 1px $grey5;
    }

    .comment_form{
      float: left;
      height: $size3;
      height: 100%;
      width: $right_contents_width;
      min-width: 180px;
      margin: 20px 15px 20px 0;
      padding: 0 10px;
      background-color: $main_white;
      }

      input#message_text{
        float:left;
        font-size: $standerd_font_size;
        max-height: $comment_box_height;
        border: 0;
        width: calc(100vw - 550px);
        padding: 10px 10px;
        color: $grey2;
        word-wrap: break-word;
        overflow-x: scroll; 
        }

      .image_icon{
        display: block;
        float:right;
        font-size: $size2;
        margin:$jouge_15px;
        }

    .send_bottun{
      float:right;
      height: $size3;
      background-color: $light_blue;
      font-size: $standerd_font_size;
      color: white;
      line-height: $size3;
      text-align: center;
      margin: $jouge_25px;
      padding: $side_20px;
      }

.clearfix:after {
  content: "";
  clear: both;
  display: block;
  }
